<div class="container-form">
        <form [formGroup]="formRegister" (ngSubmit)="save()">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Registro</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input name="email" type="email" formControlName="email" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field>
                                    <mat-label>Password</mat-label>
                                    <input name="password" type="password" formControlName="password" matInput>
                                    <div *ngIf="password?.touched && password?.invalid" >
                                        <mat-error *ngIf="password?.hasError('invalid_password')">Debe tener un número</mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field>
                                    <mat-label>Confirm Password</mat-label>
                                    <input  name="confirmPassword" type="password" formControlName="confirmPassword" matInput>
                                    <div *ngIf="confirmPassword?.touched && formRegister.errors" >
                                        <mat-error *ngIf="formRegister?.hasError('match_password')">La contraseña no es igual</mat-error>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions >
                        <button mat-raised-button type="submit" [disabled]="formRegister.invalid">Registro</button>
                    </mat-card-actions>
                </mat-card>
        </form> 
    </div>